$container-width: 1376px;
$main-color-red: #FF8484;
$main-color-white: #FFFEFB;
$main-text-color: #3F3F3F;
$body-background-color: #E5E5E5;
$forms-text-color: #49485E;
$text-color-gray: #B4B4B4;
$box-shadow-tiny: 0px 2px 5px rgba(0, 0, 0, 0.1);
$box-shadow-huge: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);