@import '_variables.scss';
@import '_fonts.scss';

body {
  padding: 32px 32px 0;
  margin: 0;
  background-color: transparentize($body-background-color, 0.8);
  font-family: "Source Sans Pro", sans-serif !important;
  color: $main-text-color;
}

button, select {
  font-family: "Source Sans Pro", sans-serif !important;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}