@import '_variables.scss';
@import '_fonts.scss';

body {
  padding-top: 32px;
  margin: 0;
  background-color: transparentize($body-background-color, 0.8);
  color: $main-text-color;
}

* {
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif !important;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}